body {
    font-family: Arial, sans-serif;
    background-color: white;
}

h1 {
    color: black;
    margin-top: 20px;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: darkblue;
    text-decoration: underline;
}

.blog-list h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.blog-list p {
    font-size: 16px;
    color: #666;
}
